@model ProductDetailVM
<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Description
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Product Discounts
                    </th>
                    <th>
                        Product Images
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @Model.Description
                    </td>
                    <td>
                        @Model.Price
                    </td>
                    <td>
                        @Model.CategoryName
                    </td>
                    <td>
                        @if (Model.Discounts.Any())
                        {
                            @foreach (var item in Model.Discounts)
                            {
                                <span> @item.Percent%</span>
                            }
                        }
                        else
                        {
                            <span>No discount</span>
                        }
                    </td>
                        <td>
                            @foreach (var item in Model.Images)
                        {
                            <img src="~/assets/images/products/@item.Name" style="width:100px;height:90px;" />
                        }
                        </td>
                        <td style="display: flex;gap:10px;">
                            <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-info">Edit</a>
                            <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

